html {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
  url(../img/Firefighter_Symbol_2.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  background-repeat: repeat;
}

body{
  font-family: Serif, Helvetica, Courier;
  width: 100%;
  height: 100%
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #AAA;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 75px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #AAA;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .75em;
    line-height: 1em;
    color: #AAA;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    font-size: 0.25em;
    margin-top: 7%;
  }

  .skills-list li {
    display: list-item;
	text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  ul {
    /* width: 570px; */
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    border-color: #FFF;
    text-align: center;
  }

  .saying-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    color: #AAA;
  }  
  
  .map {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #AAA;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 100px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #AAA;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #AAA;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
	font-size: 0.33em;
    margin-top: 7%;
  }

  .skills-list li {
    display: list-item;
	text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  ul {
    /* width: 570px; */
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    border-color: #FFF;
    text-align: center;
  }

  .saying-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    color: #AAA;
  }  
  
  .map {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{

  h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    color: #AAA;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-top: 7%;
    width: 200px;
    height: auto;
  }

  .top-p {
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #AAA;
  }

  .bot-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    line-height: 1.5em;
    color: #AAA;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
	font-size: 0.5em;
    margin-top: 7%;
  }

  .skills-list li {
    display: list-item;
	text-align: center;
    padding: 10px;
    font-weight: bold; 
  }

  ul {
    /* width: 570px; */
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    border-color: #FFF;
    text-align: center;
  }

  .saying-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    color: #AAA;
  }  
  
  .map {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 354px;
    height: 236px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #AAA;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #AAA;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 3%;
	font-size: 1em
  }

  .skills-list li {
    display: list-item;
	text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  ul {
    /* width: 570px; */
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    border-color: #FFF;
    text-align: center;
  }

  .saying-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    color: #AAA;
  }
  
  .map {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
  img {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    width: 354px;
    height: 236px;
  }

  .top-p {
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #AAA;
  }

  .bot-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #AAA;
  }

  .skills-list {
    color: #FFF;
    list-style: none;
    text-align: center;
    margin-top: 3%;
  }

  .skills-list li {
    display: list-item;
	text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  ul {
    /* width: 570px; */
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    border-color: #FFF;
    text-align: center;
  }

  .saying-p {
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    color: #AAA;
  }
  
  .map {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 5%;
}